aiohappyeyeballs==2.6.1
aiohttp==3.12.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
backports.tarfile==1.2.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
chromium==0.0.0
click==8.1.8
click-log==0.4.0
colorama==0.4.6
cryptography==45.0.2
dataclasses==0.6
Deprecated==1.2.18
deprecation==2.1.0
docutils==0.21.2
dotty-dict==1.3.1
extensions==0.4
Flask==3.1.1
Flask-Bcrypt==1.0.1
flask-cors==6.0.0
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.12
frozenlist==1.5.0
gitdb==4.0.12
GitPython==3.1.44
gotrue==2.12.0
gunicorn==23.0.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
invoke==1.7.3
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
keyring==25.6.0
limiter==0.5.0
limits==5.1.0
lxml==5.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.6.0
multidict==6.4.3
nh3==0.2.21
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.2
pkginfo==1.12.1.2
pluggy==1.5.0
postgrest==1.0.1
postgrest-py==0.10.6
propcache==0.3.1
pycparser==2.22
pydantic==1.10.21
pydantic_core==2.33.1
Pygments==2.19.1
PyJWT==2.10.1
PySocks==1.7.1
pytest==8.3.5
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-gitlab==3.15.0
python-semantic-release==7.32.1
readme_renderer==44.0
realtime==2.4.3
redis==5.2.1
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.4
selenium==4.10.0
semver==2.13.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
storage3==0.11.3
StrEnum==0.4.15
supabase==2.15.1
supafunc==0.9.4
token-bucket==0.3.0
tomlkit==0.13.2
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
twine==3.8.0
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
webdriver-manager==3.8.6
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yarl==1.19.0
zipp==3.21.0
